<section>
<h1>Conditions Générales d'Utilisation</h1>
        <p>En accédant à ce site web, vous acceptez les conditions générales d'utilisation, y compris les règles liées à la participation aux soirées étudiantes. Les personnes de moins de 18 ans ne sont pas autorisées à participer.</p>

        <h3>Politique de Confidentialité</h3>
        <p>Consultez notre politique de confidentialité pour en savoir plus sur la collecte et l'utilisation de vos données personnelles lors de l'inscription et de la participation à nos soirées étudiantes.</p>

        <h3>Droits d'Auteur et Propriété Intellectuelle</h3>
        <p>Tous les contenus de ce site web sont protégés par les lois sur le droit d'auteur. Toute reproduction non autorisée est strictement interdite.</p>

        <h3>Coordonnées de l'Hébergeur</h3>
        <p><strong>Hébergeur :</strong> Firebase</p>
        <p><strong>Adresse :</strong> [**************]</p>
</section>