h1 {
    font-size: 3.5em; /* Vous pouvez ajuster la taille selon vos préférences */
}
h3 {
    font-size: 2em; /* Vous pouvez ajuster la taille selon vos préférences */
}
p {
    font-size: 1.5em; /* Vous pouvez ajuster la taille selon vos préférences */
}